body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://img.freepik.com/premium-vector/back-school-pattern-background-set-different-drawings-related-school-blue-color_153454-35.jpg?semt=ais_hybrid");
    background-repeat: no-repeat;
    background-size: cover;
}

#content {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#bio {
    margin-top: 20px;
}

#profilePic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 10px;
}

